@model PasswordModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="UpdatePassword" asp-controller="Account">
	<div asp-validation-summary="ModelOnly"></div>

	<div class="mb-1 mt-1 input-group">
		<Span class="input-group-text">Old Password:</Span>
		<input asp-for="OldPassword" class="form-control mr-3" value="@(Model != null ? Model.OldPassword : null)">
		<span class="text-danger" asp-validation-for="OldPassword"></span>
	</div>

	<div class="mb-1 mt-1 input-group">
		<Span class="input-group-text">New Password:</Span>
		<input asp-for="Password" class="form-control mr-3">
		<span class="text-danger" asp-validation-for="Password"></span>
	</div>

	<div class="mb-1 mt-1 input-group">
		<Span class="input-group-text">Confirm Password:</Span>
		<input asp-for="ConfirmPassword" class="form-control mr-3">
		<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
	</div>

	<button type="submit" class="btn btn-warning">Change password</button>
</form>